@keyframes div_hijos {
    from {opacity: 0;
        background-color: rgb(74, 111, 34, 0);}
  to {opacity: 1;
    background-color: rgb(74, 111, 34, 0.5);}
  }
  @keyframes back_image {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 150% 150%;
    }
}
body{
    background-image: url("mapa.jpg");
}
nav{
    text-align: center;
}
a{
    margin-left: 50px;
    margin-right: 50px;
    color:  rgb(128,0,0);
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    color: rgb(61,100,45);
}
h1{
    text-align: center;
    color:  rgb(128,0,0);
    font-size: 100px;
}
.hijos>*{
    flex: 30%;
    height: 250px;
    width: 350px;
    background-size:cover;
    margin: 10px;
}
#americano{
    background-image: url("americano.jpg");
}

#sherman{
    background-image: url("sherman.jpg");
}

#artilleria{
    background-image: url("artilleria1.jpg");
}

#japon{
    background-image: url("japon.jpg");
}

#soviet{
    background-image: url("soviet.jpg");
}

#panzer{
    background-image: url("Panzer.jpg");
}

.marcador{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#agrupador{
    text-align: center;
    margin-top: 80px;
}

.hijos{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}
#agrupador>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcador> *{
    opacity: 0;
    background-color: rgb(74, 111, 34,0);
}

.marcador> *:hover{
    animation-name: div_hijos;
    animation-duration: 3s;
}

.marcador:hover{
    animation-name: back_image;
    animation-duration: 3s;
}
 
.decorador>*{
margin-top: 5px;
color: white;
}

.decorador>button{
    background-color: black;
    margin-top: 50px;
}
p{
    font-size: large;
}
@media only screen and (min-width: 801px) {
    .hijos > * {
        flex: 30%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    
    .hijos > * {
        flex: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .hijos > * {
        flex: 100%;
    }
}